<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Point\Customer\Block\Cart\Point $block
 */
    $flagShow = $block->getPoint() > 0 ? true : false;
?>
<div>
        <form id="discount-point-form"
              action="<?= $block->escapeUrl($block->getUrl('point/cart/apply')) ?>"
              method="post">
            <label></label><br>
            <label for="point"></label><br/>
            <input style="width: 170px;" type="text"
                   class="input-text"
                   id="point"
                   name="point"
                   placeholder="<?= $block->escapeHtmlAttr(__('apply Point')) ?>"
            />
            <input <?= $flagShow ? '':'disabled'; ?>  style="width: 126px;height: 30px;" type="submit" name="submit" value="Apply Point" />
            <?php
                if($flagShow){
                    echo 'You have : ' . $block->getPoint() . ' points.';
                }
            ?>
        </form>
    <div>
        <br>
        <?php if($flagShow){ ?>
            <a href="<?= $block->escapeUrl($block->getUrl('point/cart/history')) ?>"> View point usage history</a>
        <?php }?>
        <br>
    </div>
</div>

<script type="text/javascript">
    require(["jquery", "mage/url"],function($, urlBuilder) {
        $(document).ready(function() {
            $('#submit-button').click(function(){
                var url = urlBuilder.build('point/cart/apply');
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        data1:
                        data2: <?php $block->getPoint() ?>,
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function (xhr, status, errorThrown) {
                        console.log('Error happens. Try again.');
                    }
                });
            });
        });
    });
</script>
