<?php
/**
 * @var \Point\Customer\Block\Cart\History $block
 */?>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table style="width:100%">
    <tr>
        <th>No</th>
        <th>Point</th>
        <th>Action</th>
        <th>Date</th>
    </tr>
    <?php  $i = 1;?>
   <?php foreach ($block->getHistory() as $data): ?>
        <tr>
            <td><?= $i; ?></td>
            <td><?= $data['points']; ?></td>
            <td><?= $data['action']==0 ? 'Received' : 'Used'; ?></td>
            <td><?= $data['date']; ?></td>
            </td>
        </tr>
    <?php $i++ ?>
    <?php endforeach; ?>

</table>
