<?php
/** @var \Test\Bai1\Block\StockLeft $block */
?>
<h1> Quantity : <?php echo $block->getItem() ?></h1>
<h1>Name : <?php echo $block->getCustomerId() ?></h1>
<div class="field">
    <label style="font-weight: bold; display: block">Ngày nhận hàng: </label> <br>
    <input type="text" class="input-text" id="example-date" style="width: auto" name="example-date" />
</div>

<script>
    require([
        'jquery',
        'mage/translate',
        'mage/calendar'
    ], function ($, $t) {
        $('#example-date').calendar({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            currentText: $t('Go Today'),
            closeText: $t('Close'),
            showWeek: true
        });
    })
</script>
